* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    align-items: center;
}

.header-container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.header-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.signup-btn {
    background-color: rgb(77, 77, 203);
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}